@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&family=Oswald&display=swap');

* {
	box-sizing: border-box;
	text-decoration: none;
}


body {
	display: flex;
	flex-direction: column;
	background-color: #252525;
	
}

.header-container {
	background-color: #252525;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: 2px solid #e1ab20;
	gap: 4px;
	
	
	
}

.logga {
	display: flex;
	flex-wrap: wrap;
	width: 8em;
	justify-content: center;
	margin-bottom: -0.6em;
}


.buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 2em;
	border: none;
	width: 6em;
	background-color: #e1ab20;
	cursor: pointer;
	justify-content: center;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 100%
	

}
	

@media (max-width: 562px) {
	.header-container {
	  flex-direction: column;
	  display: flex;
	  align-items: center;
	  gap: 2px;
	  padding-bottom: 0.6em;
	  
	
	}
}

@media (min-width: 562px) {
	.buttons {
	  flex-direction: row;
	  display: flex;
	  align-items: center;
	  margin-top: 7.5em;
	  gap: 2px;
	  
	}
}

@media (min-width: 800px) {
	.buttons {
	  flex-direction: row;
	  display: flex;
	  align-items: center;
	  margin-top: 7.5em;
	  width: 8em;
	  justify-content: center;
	  
	}
}

main {
	display: block;
	background-color: #252525;
	text-align: center;
	flex-wrap: wrap;
	align-items: end;
	height: auto;
	font-family: 'Oswald', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}


footer {
	background-color: #e1ab20;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 0.5em;
	height: 8em;
	font-family: 'Bebas Neue', sans-serif;
	
	

}

.biljett2 {
	text-decoration: underline;
	color: black;
}


.dag {
	color: #e1ab20;
	border-top: 2px solid black;
	background-color: #252525; 
	padding: 0.5em;
	
	border-radius: 0em 0em 5em 5m;
}

.lunch {
	background-color:#e1ab20;
	
	
}

.previousbild {
	max-width: 80vh;
	width: 100%;
	height: auto;
	margin-bottom: 1.5em;
	
  }



.webb2 {
	color:#e1ab20;
	
	
}

 