body {
	
	background-color:rgb(102, 102, 102);
}

.logga {
	
	display: flex;
	height: 9em;
	width: auto;
	
}

header {
	background-color: #202020;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	justify-content: center;
	height: 8em;
	

}

main {
	
	background-color: #d1d1d1;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	align-items: end;
	height: 40em;
	
	
	
}

footer {
	background-color: #e1ab20;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	height: 8em;
	

}

.navigation {
	display: flex;
	border: 2px solid black;
	
	
}

